# 'cat' to read files, cat do not provide us heading of files
#### example

In [ ]:
data = !cat files/business.csv

# 'read_csv' function to read files
#### example

In [ ]:
pd.read_csv('files/business.csv')

# 'read_csv' function to read nrows
#### example

In [ ]:
pd.read_csv('files/business.csv',nrows=3)

# 'read_csv' function with names, names is like a column name
#### example

In [ ]:
pd.read_csv('files/business.csv', names=['a','b','c','d','e','f','g','h','i','j','k','l','m','n'])

# 'read_table' function is also use to read files. We can use delimeter with it
#### example

In [ ]:
pd.read_table('files/business.csv', sep=',')

# We have chunk to read files in chunk size, we can use to read files from chuk
- __example__

In [ ]:
chunker = pd.read_csv('files/business.csv', chunksize=1000)
to_series = pd.Series([])
for i in chunker:
    to_series = i
to_series

# We can also write into the csv files
### for this we have 'to_csv' funtion in pandas
- __Here we are writting 'data' data's into 'out.csv' file__

In [ ]:
data = pd.read_csv('files/business.csv')
data.to_csv('files/out.csv')

- __we can also use delimeter while wrtting csv file__

In [ ]:
import sys
 data.to_csv(sys.stdout, sep='|')

- __fill 'missing value'__

In [ ]:
data.to_csv(sys.stdout, na_rep='Null')

- __Another method to read files__

In [ ]:
with open('files/business.csv') as f:
    lines = list(pd.read_csv(f))
    print(lines)

# we can convert json data into python form using json.loads
- __example__

In [ ]:
import json

to_python_data = json.loads(obj)
to_python_data

#### To convert python data into json we have 'to_json' function
- __example__

In [ ]:
to_json_data = to_python_data.to_json()
to_json_data

# Read HTML files
#### example
- __'read_html' function return in list so we need to do some things

In [ ]:
import pandas as pd

table = pd.read_html('files/failed_bank_list.html')
failures = table[0]
failures

# Binary data format
- __Pandas have 'to_pickle' method which is use to store data efficintly in binary format__
#### example

In [ ]:
result = pd.read_csv('files/business.csv')
result.to_pickle('files/result_pickle')

#Let's read it
pd.read_pickle('files/result_pickle')

### HDF5 is a well-regarded file format intended for storing large quantities of scientific array data
#### example

In [ ]:
frame = pd.DataFrame({'a':np.random.randn(100)})

store = pd.HDFStore('mydata.h5')

store['obj1'] = frame

store['obj1_col']

In [ ]:
store.put('obj2', frame, format='table')
store.select('obj2', where = ['index>=10 and index<=15'])

# Interact with API
### example

In [ ]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

resp = requests.get(url)

data = resp.json()
data

# Intereact with Database
#### let's create database with table

In [ ]:
import sqlite3
query = """ 
create table test(
a varvhar(20),
b varchar(20),
c Real,
d Integer
);
"""

con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

### insert into database

In [ ]:
data = [
    ('aa','bb', 1.25, 6),
    ('cc','dd', 1.50, 7),
    ('ee','ff', 1.75, 8)
]

stmt = "INSERT INTO test VALUES(?,?,?,?)"
con.executemany(stmt, data)
con.commit()

### fetch data from database

In [ ]:
cursor = con.execute('select *from test')
rows = cursor.fetchall()
rows