# Built-in Data Structures, Functions, and Files

## Tuple
- __tuple are immutable python object, fixed-length__
- __tuple can not be modified__

In [2]:
tup = 2, 3, 4, 5, 6, 7
tup

(2, 3, 4, 5, 6, 7)

In [3]:
# Nested tuple
tups = (2,3,4),(7,3,5)
tups

((2, 3, 4), (7, 3, 5))

In [4]:
t = tuple('string')
t

('s', 't', 'r', 'i', 'n', 'g')

- __If the inside is mutable like list then we can modify__

In [5]:
tupp = tuple(['foo', [1, 2], True])
tupp[1].append(3)
tupp

('foo', [1, 2, 3], True)

- __Tuple can be concate using '+' sign__

In [6]:
a = (4, None, 'foo') + (6, 0) + ('bar',)
a

(4, None, 'foo', 6, 0, 'bar')

- __Unpack with tuple__

In [7]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [8]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [9]:
# Swapping values 
a, b = 1, 2
a, b = b, a
a

2

In [11]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b
# above will give this output (1,2)
rest

[3, 4, 5]

- __Tuple methods__

In [12]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

## List
- __list can be modified__
- __These are written inside the []__

In [13]:
# EXample:-

a_list = [2, 3, 7, None]
a_list

[2, 3, 7, None]

In [14]:
# convert tuple to list

a_tuple = (1,2,3,4,5,6,7,8)
b_list = list(a_tuple)
b_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
# create a list with rage

c_tuple = range(0,10)
c_list = list(c_tuple)
c_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
# Adding and removing elements
d_list = ['apple','ball', 'cat', 'dog']
d_list.insert(0, 'fish')
# d_list

# drop using index
d_list.pop(-2)
d_list

['fish', 'apple', 'ball', 'dog']

In [27]:
# Check in the list

f_list = ['apple','ball', 'cat', 'dog']

'dog' in f_list
'dog' not in f_list

False

In [28]:
# Concating and combing 

g_list = [1,2,3,4]
h_list = ['a','b', 'c']
i_list = g_list + h_list
i_list

[1, 2, 3, 4, 'a', 'b', 'c']

In [30]:
# Append multiple values in alredy define list

j_list = [1,2,3,4,5,'a', 'b', 'c', 'd']
k_list = [6,7,8,9]
j_list.extend(k_list)
j_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 6, 7, 8, 9]

#### Note :-

In [51]:
list_of_lists = ['a','b','c','d','e']
everything = ['f','g']

for chunk in list_of_lists:
    everything.extend(chunk)
    
# Above code is faster than given below

for chunk in list_of_lists:
    everything = everything + chunk

TypeError: can only concatenate list (not "str") to list

In [32]:
# Sorting

m_list = [12,7,8,22,56,78,90,1,23]
m_list.sort()
m_list

[1, 7, 8, 12, 22, 23, 56, 78, 90]

In [34]:
# Sorting the string base on length

n_list = ['saw', 'small', 'He', 'foxes', 'six']
n_list.sort(key=len)
n_list

['He', 'saw', 'six', 'small', 'foxes']

#### Slicing

In [37]:
#Basic slicing
seq = [7, 2, 3, 7, 5, 6, 0, 1]

seq[1:5]
seq[:5]

[7, 2, 3, 7, 5]

In [38]:
# Negative slicing
seq[-4:]

[5, 6, 0, 1]

In [44]:
# Negative slicing

seq[:-1]
seq[-1]

1

In [45]:
# Double column slicing
#select element skipping one element

seq[::2]

[7, 3, 5, 0]

In [47]:
#select element skipping one element from last

seq[::-2]

[1, 6, 7, 2]

#### enumerate
- __Python have the built-in function enumerate which returns a sequence of (i, value) tuple__

In [53]:
collection = ['a','b','c']
for i, value in enumerate(collection):
    print(i, value)

0 a
1 b
2 c

In [58]:
# another example:

some_list = ['a','b','c']
some_set = {}

for i, value in enumerate(some_list):
    some_set[i]= value
some_set

{0: 'a', 1: 'b', 2: 'c'}

#### sorted
- __It retuns a new sorted list from the elements of any sequence__

In [59]:
# example:- 

sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

#### Zip
- __It “pairs” up the elements of a number of lists, tuples, or other sequences to create a
list of tuples__

In [64]:
# example:- 

seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
a_ziped = zip(seq1,seq2)

list(a_ziped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [65]:
# examples of zip

for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [66]:
# We can also unziped the ziped file
# Example:-

pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

first_name, last_name = zip(*pitchers)
first_name

('Nolan', 'Roger', 'Schilling')

In [67]:
last_name

('Ryan', 'Clemens', 'Curt')

#### Reversed
- __It reversed iterates over the elements of a sequence in reverse order__

In [68]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Dict
- __It is one of the most important data structure in python__
- __we use {} to create dict__

In [70]:
# example of dict

a_dict = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
a_dict['a']

'some value'

In [73]:
# Chek in dict

'b' in a_dict

True

In [75]:
# Insert values in dict

a_dict[5] = 'added values'
a_dict

{'a': 'some value', 'b': [1, 2, 3, 4], 5: 'added values'}

In [76]:
# Insert another dummy values in dict

a_dict['dummy'] = 'Dummy data'
a_dict

{'a': 'some value',
 'b': [1, 2, 3, 4],
 5: 'added values',
 'dummy': 'Dummy data'}

In [77]:
# Remove data from dict

b_dict = a_dict.pop('dummy')
b_dict

'Dummy data'

In [79]:
#Now check values

a_dict

{'a': 'some value', 'b': [1, 2, 3, 4], 5: 'added values'}

In [82]:
# Find keys and values

a_keys = list(a_dict.keys())
a_keys

['a', 'b', 5]

In [83]:
b_values = list(a_dict.values())
b_values

['some value', [1, 2, 3, 4], 'added values']

In [86]:
#Add data to dict

c_dict = {'c':['a','b','c','d']}
d_dict = a_dict.update(c_dict)

a_dict

{'a': 'some value',
 'b': [1, 2, 3, 4],
 5: 'added values',
 'c': ['a', 'b', 'c', 'd']}

#### Creating dicts from sequences

In [88]:
# Example of creatign dict from squences


mapping = {}
key_list = range(5)
value_list = reversed(range(5))
for key, value in zip(key_list, value_list):
    mapping[key] = value
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

## Set
- __It is unordered collection of unique elements__
- __Set is just like a dict but only keys no values__

In [3]:
# Example

set([2, 2, 2, 1, 3, 3])

a_set = {1,2,3,4,5,2}
a_set

{1, 2, 3, 4, 5}

In [4]:
#union and intersection of set

b_set = {1,2,3,4,5,2}
c_set = {3, 4, 5, 6, 7, 8}

union_set = b_set.union(c_set)
union_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
intersection_set = b_set.intersection(c_set)
intersection_set

{3, 4, 5}

In [14]:
#Difference of set

diff_set = b_set.difference(a_set)

In [21]:
#Copy set

c_set = a_set.copy()
c_set

{1, 2, 3, 4, 5}

### List, Set, and Dict Comprehensions
- __List comprehensions are one of the most-loved Python language features__
- __They allow
you to concisely form a new list by filtering the elements of a collection, transforming
the elements passing the filter in one concise expression__

In [ ]:
# Example:-

result = []
for val in collection:
    if condition:
        result.append(expr)

# This can be written in one line of code

[expr for val in collection if condition]

In [23]:
# EXample of code :-

result = []
collection = [1,2,3,4,5,6,7,8,9,10]

for val in collection:
    if val%2 == 0:
        result.append(val)
result

[2, 4, 6, 8, 10]

In [26]:
a_result = [val for val in collection if val%2==0]
a_result

[2, 4, 6, 8, 10]

In [28]:
# Another example:-

strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
to_upper = [val.upper() for val in strings if len(val)>2]
to_upper

['BAT', 'CAR', 'DOVE', 'PYTHON']

#### Nested list comprehensions

In [40]:
# Example:-

all_name = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names = []
for name in all_name:
    enough_es = [ename for ename in name if ename.count('e')>=2]
    names.extend(enough_es)
names

# This can be written as

filtered_name = [name for names in all_name for name in names if name.count('e')>=2]
filtered_name

['Steven']