## Binary Data Formats

- __Pandas have 'to_pickle' method which is use to store data efficintly in binary format__

In [4]:
import pandas as pd
result = pd.read_csv('files/business.csv')
result.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN

- __let's write into binary using to_pickle funciton__

In [8]:
result.to_pickle('files/result_pickle')

- __Now let's read it__

In [10]:
pickle_data = pd.read_pickle('files/result_pickle')
pickle_data.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable,Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN

### Using HDF5 Format
- __HDF5 is a well-regarded file format intended for storing large quantities of scientific array data__
- __The “HDF” in HDF5 stands for hierarchical data format__
- __Each HDF5 file can store multiple datasets and supporting metadata__
- __HDF5 can be a good choice for working with very large datasets that don’t fit into memory, as you can efficiently read and write small sections of much larger arrays__
- __The HDFStore class works like a dict and handles the low-level details:__

In [38]:
import numpy as np

frame = pd.DataFrame({'a':np.random.randn(100)})
frame

           a
0  -1.377651
1   0.780987
2   0.081324
3   0.861875
4   0.298810
..       ...
95  0.960485
96 -0.500166
97 -0.168395
98 -0.779851
99  1.784123

[100 rows x 1 columns]

In [ ]:
# install tables

pip install tables

In [39]:
store = pd.HDFStore('mydata.h5')

In [41]:
# store data into stro obj

store['obj1'] = frame

In [42]:
store['obj1_col'] = frame['a']

- __Objects contained in the HDF5 file can then be retrieved with the same dict-like API:__

In [43]:
store['obj1']

           a
0  -1.377651
1   0.780987
2   0.081324
3   0.861875
4   0.298810
..       ...
95  0.960485
96 -0.500166
97 -0.168395
98 -0.779851
99  1.784123

[100 rows x 1 columns]

- __HDFStore supports two storage schemas, 'fixed' and 'table'__

In [44]:
store.put('obj2', frame, format='table')

In [45]:
store.select('obj2', where = ['index>=10 and index<=15'])

           a
10 -0.279332
11  2.960012
12 -0.317092
13  1.930179
14  0.414661
15  1.017624

### Reading Microsoft Excel Files

- __pandas also supports reading tabular data stored in Excel 2003 (and higher) files using either the ExcelFile class or pandas__

- __To use ExcelFile , create an instance by passing a path to an xls or xlsx file:__
- __Internally these tools use the add-on packages 'xlrd' and 'openpyxl' to read 'XLS' and 'XLSX' files, respectively. You may need to install these manually with pip or conda.__
- __Install two files 'pip install xlrd' and 'pip install openpyxl'__

In [ ]:
pip install xlrd

In [ ]:
pip install openpyxl

In [56]:
xlsx = pd.ExcelFile('files/SampleData.xlsx')

In [ ]:
xlsx

In [57]:
pd.read_excel(xlsx, 'Sheet1')

ValueError: Worksheet named 'Sheet1' not found

In [58]:
frame = pd.read_excel('files/SampleData.xlsx', 'Sheet1')
frame

ValueError: Worksheet named 'Sheet1' not found